<div class="container">
            <div class="row">
                    <% _.each(pets, function(pet) { %>
                        <!-- <div class="col-sm-3"> -->
                            <div class="card"  style="width: 23rem;">
                                <!--Card image-->
                                <img class="img-fluid" src="/images/Small Roxie.jpg" alt="<%= pet.name %> Image">
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title"><%= pet.name %></h4>
                                    <!--Text-->
                                    <p class="card-text"><%= pet.summary %></p>
                                    <!--Button-->
                                    <a href="/pet/show/<%= pet.id %>" class="btn btn-primary float-right">View</a>
                                </div>
                            </div>
                        <!-- </div> -->
                    <% }) %>
            </div>
</div>