<section class="banner">
<div class="container">
  <div>
      <div class="banner-text text-center">
          <h1>Adopt a pet!!!</h1>
        <p>Many pets are looking for their Furever Homes.</br>Help them find one.</p>
      <a href="/pet" class="btn btn-primary">Adopt Now!</a><!--this should go to login page-->
        </div><!--banner-text text-center-->
    </div>
</div><!--container-->
</section>