
<section class="banner"style="background-color: rgba(0,0,0,1.0);">
  <div class="container">
    <div>
      <div class="banner-text text-center">
          <h1 class="text-light">Adopt a pet!!!</h1>
          <p class="text-light">Many pets are looking for their Furever Homes.</br>Help them find one.</p>
          <a href="/pet" class="btn btn-primary">Adopt Now!</a>
      </div>
    </div>
  </div>
</section>
